<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= post.desc %>
  </p>

  <p>
    <strong>User name:</strong>
    <%= post.user_name %>
  </p>

  <p>
    <strong>Upvote counter:</strong>
    <%= post.upvote_counter %>
  </p>

  <p>
    <strong>Downvote counter:</strong>
    <%= post.downvote_counter %>
  </p>

</div>
